# Copy this and adjust, deploy with `--env-vars-file .env.yaml`

# This oauth token needs `chat.write`.
SLACK_TOKEN: "xoxb-..."
# The channel ID is in the URL or the bottom of the channel details.
SLACK_CHANNEL: C...
# Gmail user to authenticate.
GMAIL_USER: "operations@example.com"
# See list-labels.py in this repo to print all the labels.
GMAIL_LABEL_IN_QUEUE: "Label_2362854132484345161";
# Google cloud project the bucket lives in.
BUCKET_PROJECT: "some-project";
# Google cloud storage bucket.
BUCKET_NAME: "some-bucket";
# Service account which can interact with Gmail API
SERVICE_ACCOUNT_GMAIL: "my-account.json"
# Service account which can interact with data warehouse records.
SERVICE_ACCOUNT_WAREHOUSE: "my-account.json"
